.onem-border {
    margin-top: 10px;
}

.onem-controls-container {
    margin-top: 25px;
    /* float: right;*/
}

.onem-label {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.onem-controls {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
}

.onem-logo img {
    width: 90px;
    height: auto;
    vertical-align: inherit;
    margin-left: 55px;
}

.onem-logo p {
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    padding-left: 5px;
    display: inline-block;
}

.img-container  {
    margin: 0 auto;
    position: relative;
}

.img-container img {
    height: 85vh;
    margin: 0 auto;
    display: block;
}

.sms-response-desktop {
    margin: auto;
}

.msisdn-header {
    position: absolute;
    top: 12%;
    margin-left: 30px;
}

.img-container .sms-response {
    position: absolute;
    top: 15%;
    min-height: 65%;
    height: 75%;
    left: 16%;
    width: 69%;
}

.img-container .sms-response-desktop {
    color: black;
    font-size: 9pt;
    margin-top: 5px;
}

.img-container .desktop-header {
    margin-top: 10px;
}


.sms-input {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.sms-response-mob {
    height: 100vh;
}

.sms-response-pos {
    position: absolute;
    top: 15%;
    margin-right: 20px;
    width: 100%;
    height: 89%;
    display: block;
    overflow: auto;
}

.img-container .sms-response-pos .sms-placeholder {
    width: 90%;
    max-width: 700px; 
    height: auto;
    display: inline-block;
    padding: 4px;
}

.img-container .sms-response-pos .sms-mt-container {
    position: relative;
    max-width: 79%;
    height: auto;
    display: inline-block;
    border-radius: 15px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e0e0e0;
    font-size: 13.5px;
    line-height: 18px;
    vertical-align: top;
}

.sms-length span {
    font-size: 9px;
}

.img-container .sms-response-pos .sms-mo-container {
    position: relative;
    height: auto;
    display: block;
    border-radius: 15px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: blue;
    color: white;
    font-size: 13.5px;
    line-height: 18px;
}

.img-container .sms-response-pos .sms-mt-container .sms-mt {
    height: auto;
    padding: 10px;
}

.img-container .sms-response-pos .sms-mo-container .sms-mo {
    height: auto;
    padding: 10px;
}

.sms-mt span {
    padding: 0;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    word-wrap: break-word;
}

.sms-mo span {
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}