.onem-border {
    margin-top: 10px;
}

.onem-controls-container {
    margin-top: 25px;
    /* float: right;*/
}

.onem-label {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.onem-controls {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
}

.onem-logo img {
    width: 90px;
    height: auto;
    vertical-align: inherit;
    margin-left: 55px;
}

.onem-logo p {
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    padding-left: 5px;
    display: inline-block;
}

.img-container {
    background-image: url(/images/iPhone-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    position: relative;
}

.img-container-mob {
    position: relative;
}

.img-container img {
    height: 85vh;
    display: block;
}

.sms-response-desktop {
    margin: auto;
}

.msisdn-header {
    position: absolute;
    text-align: center;
    top: 13%;
    width: 100%;
    font-size: 75%;
    line-height: 75%;
}

.msisdn-header-mob {
    background-color: LightGrey;
}

.sms-input {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 13%;
    padding-left: 10px;
    padding-right: 10px;
}

.sms-input-mob {
    position: absolute;
    left: 2%;
    right: 2%;
    bottom: 5%;
}

.sms-window-desktop {
    position: absolute;
    top: 15%;
    left: 40%;
    right: 40%;
    overflow: auto;
    height: 66%;
}

.img-container .sms-response {
    position: absolute;
    bottom: 15%;
    height: 69%;
    left: 12%;
    width: 69%;
}

.img-container .sms-screen-desktop {
    position: absolute;
    bottom: 10%;
    left: 10%;
    height: 69%;
    color: black;
    font-size: 9pt;
}

.img-container .desktop-header {
    margin-top: 10px;
}

.sms-response-mob {
    height: 100vh;
}

.sms-response-pos-mob {
    position: absolute;
    top: 5%;
    margin-right: 20px;
    width: 100%;
    height: 82%;
    display: block;
    overflow: auto;
}

.sms-placeholder {
    max-width: 700px;
    height: auto;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    width: 98%;
}

.sms-placeholder-mob {
    max-width: 700px;
    height: auto;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    width: 100%;
}

.sms-mt-container {
    position: relative;
    max-width: 79%;
    height: auto;
    display: inline-block;
    border-radius: 15px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e0e0e0;
    font-size: 13.5px;
    line-height: 18px;
    vertical-align: top;
}

.sms-length span {
    font-size: 9px;
}

.sms-mo-container {
    position: relative;
    height: auto;
    display: block;
    border-radius: 15px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: blue;
    color: white;
    font-size: 13.5px;
    line-height: 18px;
}

.sms-mt-container .sms-mt {
    height: auto;
    padding: 10px;
}

.sms-mo-container .sms-mo {
    height: auto;
    padding: 10px;
}

.sms-mt span {
    padding: 0;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    word-wrap: break-word;
}

.sms-mo span {
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}