<div ng-if="!isMobile" class="row visible-lg visible-md visible-sm onem-logo">
    <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
        <a href="http://www.onem.com">
            <img ng-src="{{'/images/onem-logo.svg'}}" alt="" />
            <p>Desktop</p>
        </a>
    </div>
</div>
<div ng-if="!isMobile" >
    <div class="row onem-border">
        <div class="row">
            <ng-include src="'/views/partials/desktop.html'"></ng-include>
        </div>
    </div>
</div>
<div ng-if="isMobile">
    <ng-include src="'/views/partials/mobile.html'"></ng-include>
</div>